<ul class="sidenav">
	<li><a href="account.html">My Account</a></li>
	<li><a href="wishlist.html">Wish List</a></li>
	<li><a href="orderhistory.html">Order History</a></li>
	<li><a href="editprofile.html">Edit Profile</a></li>
</ul>