<ul class="sidenav">
	<li><a href="#"><i class="icon-home"></i> Home</a></li>
	<li><a href="#"><i class="icon-phone"></i> Smartphone</a></li>
	<li><a href="#"><i class="icon-box"></i> Laptops</a></li>
	<li><a href="#"><i class="icon-archive"></i> Office Items</a></li>
	<li><a href="#"><i class="icon-bag"></i> Basket</a></li>
</ul>
