        <aside class="first">
            <div class="row">
                <div class="four columns">
                    <h4 class="title">Handicraft</h4>
                    <div class="social">
                        <a href="#">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="icon-pinterest"></i>
                        </a>
                        <a href="#">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iusto quod ullam deserunt, eligendi ut cum dicta repudiandae iste, amet reprehenderit vel cupiditate repellendus quas nulla harum blanditiis aspernatur minus?</p>
                </div>
                <div class="five columns">
                    <h4>Subscribe</h4>
                    <form action="#">
                        <div class="append field">
                            <input class="wide email input" type="email" placeholder="Enter your email" />
                            <div class="medium primary btn"><a href="#">Subscribe</a></div>
                        </div>
                        <p>
                            Get top trens and fresh editors picks in your inbox.
                        </p>
                    </form>
                </div>
                <div class="three columns">
                    <h4>Get In Touch</h4>
                    <ul>
                        <li>
                            <i class="icon-home"></i>
                            Jalan Babakan Jeruk No.55 Pasteur Bandung Jawa Barat 401061
                        </li>
                        <li>
                            <i class="icon-phone"></i>+628134747 8111
                        </li>
                        <li>
                           <i class="icon-mail"></i> some.thing@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <aside class="last">
            <div class="row">
                <div class="three columns">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </div>
                <div class="three columns">
                    <h4>Costumer Servoce </h4>
                    <ul>
                        <li><a href="contactus.html">Contact Us</a></li>
                        <li><a href="#">Return</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
                <div class="three columns">
                    <h4>Extras</h4>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="three columns">
                    <h4>My Account</h4>
                    <ul>
                        <li><a href="account.html">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="wishlist.html">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <footer>
            <div class="row">
                <div class="twelve columns">
                    &copy; 2015 - Jarvis Store. All rights reserved
                    <div class="skiplink small oval btn default"><a href="#" gumby-goto="[data-target='header-position']"><i class="icon-up-open"></i></a></div>
                </div>
            </div>
        </footer>
        

    <!-- Grab Google CDN's jQuery, fall back to local if offline -->
    <!-- 2.0 for modern browsers, 1.10 for .oldie -->
    <script>
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if(!oldieCheck) {
    document.write('<script src="./public/js/libs/jquery-2.0.2.min.js"><\/script>');
    } else {
    document.write('<script src="./public/js/libs/jquery-1.10.1.min.js"><\/script>');
    }
    </script>
    <script>
    if(!window.jQuery) {
    if(!oldieCheck) {
      document.write('<script src="./public/js/libs/jquery-2.0.2.min.js"><\/script>');
    } else {
      document.write('<script src="./public/js/libs/jquery-1.10.1.min.js"><\/script>');
    }
    }
    </script>

    <!--
    Include gumby.js followed by UI modules followed by gumby.init.js
    Or concatenate and minify into a single file -->
    <script gumby-touch="./public/js/libs" src="./public/js/libs/gumby.js"></script>
    <script src="./public/js/libs/ui/gumby.retina.js"></script>
    <script src="./public/js/libs/ui/gumby.fixed.js"></script>
    <script src="./public/js/libs/ui/gumby.skiplink.js"></script>
    <script src="./public/js/libs/ui/gumby.toggleswitch.js"></script>
    <script src="./public/js/libs/ui/gumby.checkbox.js"></script>
    <script src="./public/js/libs/ui/gumby.radiobtn.js"></script>
    <script src="./public/js/libs/ui/gumby.tabs.js"></script>
    <script src="./public/js/libs/ui/gumby.navbar.js"></script>
    <script src="./public/js/libs/ui/jquery.validation.js"></script>
    <script src="./public/js/libs/gumby.init.js"></script>
    <script src="./public/js/libs/unslider.js"></script>

    <!--
    Google's recommended deferred loading of JS
    gumby.min.js contains gumby.js, all UI modules and gumby.init.js

    Note: If you opt to use this method of defered loading,
    ensure that any javascript essential to the initial
    display of the page is included separately in a normal
    script tag.

    <script type="text/javascript">
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "./js/libs/gumby.min.js";
    document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
    </script> -->

    <script src="./public/js/plugins.js"></script>
    <script src="./public/js/main.js"></script>

    <!-- Change UA-XXXXX-X to be your site's ID -->
    <!--<script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
    </script>-->

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

