<section >
	<div class="row">
		
		<div id="slider">
		<a href="#" class="unslider-arrow prev"><i class="icon-left-open-mini"></i></a>
		<a href="#" class="unslider-arrow next"><i class="icon-right-open-mini"></i></a>
		<ul>
			<li >
				<div class="tagline">
					<img src="./public/img/banner_main.jpg" alt="slide 1">
					<p>20% off for original handmade <span class="medium metro rounded btn warning"><a href="#">Buy Now</a></span> </p>
				</div>
			</li>
			<li >
				<div class="tagline">
					<img src="./public/img/banner_main.jpg" alt="slide 1">
					<p>20% off for original handmade <span class="medium metro rounded btn warning"><a href="#">Buy Now</a></span> </p>
				</div>
			</li>
			<li >
				<div class="tagline">
					<img src="./public/img/banner_main.jpg" alt="slide 1">
					<p>20% off for original handmade <span class="medium metro rounded btn warning"><a href="#">Buy Now</a></span> </p>
				</div>
			</li>
			
		</ul>
		</div>	
	</div>
</section>