form.inline-form {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input{
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button{
    @include button(flat, $action-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
    margin: 0 !important;
    border-radius: 0px 3px 3px 0 !important;
    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}

button{
  &.normal{
    background: #fff !important;
    color:#444;
    border:solid 1px #ccc;
    &:hover{
      background: #eee !important;
    }
    margin: 0 10px;
  }
  &.main{
    margin: 0 10px;
    background: $mainColor !important;
    &:hover{
      background: darken($mainColor,5%) !important;
    }
  }
}


.group-button{
  // position: relative;
  input{
    // position: relative;
    width: 40%;
    // float: left;
    display: inline-table;

  }
  button{
    background: transparent;
    // display: inline-block;
    // float:right;
    // padding: 7px 14px !important;
    // font-size: 15px !important;
    // @include border-radius(0 0 0 0);
    // margin: 0 !important;
    // &:last-child{
    //   position: relative;
    //   left: 4px;
    //   background: darken($mainColor, 20%);
    //   &:hover{
    //     background: darken($mainColor, 10%) !important;
    //   }
    //   border-radius: 4px 0 0 4px !important;
    // }
  }
}
