// footer{
// 	@include outer-container;
// 	padding:1em 0;

// 	#logo{
// 		margin:0;
// 	}

// 	a{
// 		@include transition-duration(0.3s);
// 		color:#444;
// 		&:hover{
// 			color:darken($mainColor,10%);
// 		}
// 	}
// }
// #first{
// 	background: darken($mainColor,5%);
// 	section{
// 		text-align: center;
// 		color:lighten($mainColor,30%);
// 		a{
// 			color:lighten($mainColor,30%);
// 			&:hover{
// 				@include transition-duration(0.3s);
// 				color:#fff;
// 			}
// 		}
// 		@include span-columns(3); 
// 	  	@include media($mobile) {
// 	      @include span-columns(4);
// 	    }
// 	}
// }
// #last{
// 	background: darken($mainColor,15%);
// 	background: #444;
// 	color:#fff;
// 	text-align: center;
// 	p{
// 		margin:0;
// 	}
// }


.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.4);
  $footer-disclaimer-color: transparentize($footer-color, 0.4);

  background: darken($mainColor,2%);
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  a{
    @include transition-duration(0.5s);
    color:transparentize($footer-color, 0.2);
    &:hover{
      color:#fff;
    }
  }
  #logo{
  	margin-top:0;
  	text-align: center;
  	
  	a{
  		color:#444;
  		span{color:#fff}
  	}
  }
  .footer-links {
    // @include clearfix;
    margin-bottom: $base-spacing;
	 @include outer-container;
    // @include media($medium-screen) {
    //   @include shift(3);
    // }
    // @include media($mobile){


    // }
  }

  ul {
    // margin-bottom: $base-spacing * 2;
    padding: 0;
    @include span-columns(12);
    margin-bottom: 2em;
	
    @include media($medium-screen) {
      @include span-columns(3);
      // @include omega(3n);
      @include clearfix;
      margin-bottom: 0;
    }
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;

    // @include media($medium-screen) {
    //   text-align: center;
    // }
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
  	// color: $footer-link-color;
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.footerbottom{
	padding:1em 0;
	background: $mainColor;
	p {
	    color: #fff;
	    font-size: 0.9em;
	    line-height: 1.5em;
	    margin: auto;
	    max-width: 35em;
	    text-align: center;
	  }
}

footer{
  #logo{
    display: block;
    // @include media ($large-screen){
    //   display: block;
    // }
  }
}
