header{
	text-align: center;
	position: fixed;
	left:0;
	right: 0;
	background: #fff;
	z-index: 3;
}

#topmenu{
	background: $mainColor;
	nav{
		@include outer-container;
		overflow: hidden;
		padding:5px 10px;

		li{display: inline-table;}

		.secondary-menu li{
			display: block;
			form{
				margin:auto;
				width: 70%;
			}
		}

		@include media ($large-screen){
			ul{
				float: left;
			}
			.secondary-menu{
				float: right;

				li{
					display: inline-table;
					form{width: 100%}
				}
			}
			li{display: inline-table;}
		}
	}
	a{
		@include transition-duration(0.2s);
		color:rgba(#fff,0.8);
		font-size: 14px;
		padding:5px 0;
		display: block;
		&:hover{
			color:rgba(#fff,1);
			@include transition-duration(0.2s);
		}
	}

	li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0px;
		}
	}

	// search bar
	.search-bar {
	    form {
	      position: relative;

		    input[type=search] {
		    	@include border-radius(0px);
		        @include box-sizing(border-box);
		        font-size: 14px;
		        font-style: italic;
		        margin: 0;
		        padding: 5px;
		        width: 100%;
		    }

		    button[type=submit] {
		        @include button(flat, darken($mainColor,10%));
		        bottom: 0.3em;
		        left: auto;
		        outline: none;
		        padding: 0 9px;
		        position: absolute;
		        right: 0.3em;
		        top: 0.3em;
		        background: #fff;
		        color:$mainColor;
		        &:hover{
		        	background: rgba($mainColor, 0.2) !important;
		        }
		    }
		}
	}

}

#logo{
	display: none;
	@include transition-duration(0.3s);
	@include outer-container;
	font-family: $headingFont;
	font-size: 3em;
	margin:0.5em 0;
	a{
		color:$mainColor;
		span{
			color:#444;
		}
	}
	&.scroll-margin{
		// @include transition-duration(0.3s);
		margin: 15px 0 0 0;
	}
	@include media ($large-screen){
		display: block;
	}
}

// responsive logo
#resp-logo{
	position: absolute;
	top:10px;
	left:10px;
	z-index: 10;
	a{
		font-family: $headingFont;
		font-size: 2em;
		color:$mainColor;
		font-weight: bold;
		span{
			color:#444;
		}
	}
	@include media ($large-screen){
		display: none;
	}
}

// fadein
.fade-in-element {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  
  @include clearfix;
  background: $base-background-color;
  border-radius: $base-border-radius;
  border: 1px solid silver;
  box-shadow: 0 2px 2px transparentize(black, 0.8);
  line-height: $base-line-height;
  margin-bottom: 4em;
  padding: $base-spacing;
  text-align: center;
  width: 100%;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}
