#newproduct{
	margin-top: 2em;
	h2{
		position: relative;
		margin:15px 0 !important;
		font-family: $headingFont !important;
		font-size: 2em;

		color:#444;
		span{
			color:$mainColor;
		}

		.more{
			position: absolute;
			right: 0;
		}
	}
	.product {
	  	@include span-columns(3);
	  	@include omega(4n);
	  	margin-bottom: 2em;
	  	@include media($mobile) {
			@include span-columns(2);
			@include omega(2n);
		}
	}
}
