.panel{
	margin-bottom: 20px;
	.header{
		overflow: hidden;
		background: #eee;
		padding:10px !important;
		a.toggle{
			color:$mainColor !important;
		}
	}
	.drawer{
		border:solid 1px #eee;
		display: none;
		padding:10px;
	}
}