#popular{
	@include transition-duration(0.3s);
	border-top:solid 2px darken(#eee,10%);

	margin-bottom: 1em;
	h2{
		position: relative;
		margin:15px 0 !important;
		font-family: $headingFont !important;
		font-size: 2em;

		color:#444;
		span{
			color:$mainColor;
		}
	}
	&:hover{
		@include transition-duration(0.3s);
		border-top:solid 2px $mainColor;
	}
	.product {
	 	@include span-columns(3);
	 	@include omega(4n);
		@include media($mobile) {
	      @include span-columns(2);
	      @include omega(2n);
	   	}
	}
}


.items{
	@include span-columns(4);
 	@include omega(3n);
	@include media($mobile) {
      @include span-columns(2);
      @include omega(2n);
   	}
}
