.product{
	// padding: 15px	;
	// border: 5px solid #e8e8e8;
	overflow: hidden;
	position: relative;
	text-align: center;
	// wraping image on product image
	.post-image{
		position: relative;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		img{
			display: block;
			transition: all .1s ease-in-out;
			// max-width: 100%;
  			height: auto;
  			&:hover{
  				@include transform(scale(1.2));
  			}
		}
	}

	// sale ribbon
	.sale{
		z-index: 1;
		padding: 0 10px;
		position: absolute;
		top: 10px;
		left: 0;
		text-align: center;
		background: darken(orange, 5%);
		// #bc6047;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px
	}

	.product-detail{
		padding: 5px 10px;
		// background: #eee;
		background: rgba(#fff,0.9);
		text-align: left;

		position: relative;
		top:-51px;
		z-index: 2;
		// @include transition-duration(0.3s);
		.post-title{
			font-size: 14px;
			margin-bottom: 0.1em;
			a{
				color:#444;
				&:hover{
					color:darken(#444,5%);
				}
			}
		}


		.price{
			font-size: 13px;
			// font-weight: bold;
			del{
				color:darken(#ddd,15%);
			}
			ins{
				text-decoration: none;
			}
		}
		.add_to_cart{
			background: $mainColor;
			transition: all .1s;
			padding: 2px 10px;
			color: #fff;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			font-size: 2em;
			&:hover{

				transition: all .1s;
				background: darken($mainColor,10%);
				// @include transftreorm(scale(1.1));	
			}
		}
	}
}