.single-item{
	display: block;
	overflow: hidden;
}

.title{
	h4{
		font-size: 2em;
		border-bottom: solid 1px #ddd;
    	padding-bottom: 10px;
	}
}
.price{
	display: block;
    color: $mainColor;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    del{color:#999}
    ins{
		color:$mainColor;
		text-decoration: none;
    }
}

form .addcart {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  button[type=submit] {
    @include button(flat, $mainColor);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }
}


form{
	select{
		position: relative;
	    // display: block;
	    min-width: 100%;
	    width: 135%;
	    height: 34px;
	    padding: 6px 45px 6px 15px;
	    color: #555555;
	    border: solid 1px #ddd;
	    background: transparent;
	    outline: none;
	    z-index: 99;
	    cursor: pointer;
	    font-size: 16px;
	    font-size: 1rem;
	}
}