#slider{
	padding-top:162px;

	background: $mainColor;
	@include media($large-screen){
		padding-top: 209px;
	}
}

.slider-wrap{
	// @include outer-container;
	padding:0;
	position: relative;
	overflow: auto;
	li{
		list-style-type: none;
	}
	ul{
		li{
			float: left;
			img{
				float: left;
				width: 100% !important;
			}
		}
	}
	.slider-image{
		position:relative;
		overflow: hidden;
		display: block;
		.slider-content{
			position: absolute;
			// margin:auto;
			color:#fff;
			top:0;bottom:0;
			left:0;right: 0;
			
			margin:auto;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.slider-desc{

				.title{font-size: 2.5em;margin:0}
				p{
					margin:15px;
					font-weight: bold;
				}
				.title, p{
					@include text-shadow(0 0 15px #444);
				}
				text-align: center;
				margin: auto;
			}
		}
		button{
			@include button(flat, $mainColor);
			display: block;
			margin:auto;
			outline: none;
			padding: 0.8em 1em;
			text-align: center;
			@include transition-duration(0.3s);
			&:hover{
				@include transition-duration(0.3s);
			}
		}
	}
}