#tagline{
	// border-top:solid 2px darken(#eee,10%);
	
	background: #eee;
	padding: 0 10px;
	section{
		@include outer-container;
		text-align: center;
		h2{
			font-weight: 400;
			margin:0;
			font-size: 1.5em;
	    	padding: 0.5em 0;
	    	@include media($large-screen){
				font-size: 2.5em;
			}
		}

	}
	&.title{
		margin-bottom: 25px;
		padding-top:162px;
		@include media($large-screen){
			padding-top: 209px;
			
		}
	}
}