<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include slider.html %}

    {% include tagline.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
