<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include title.html %}
	  
    <section class="page">
    
        {% include aside_page.html %} 

    	{{ content }}
   
    </section>

    {% include footer.html %}

  </body>

</html>
