<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include title.html %}
	
    <section>
		
    	{{ content }}
   
    </section>

    {% include footer.html %}

  </body>

</html>
