---
layout: single
title: Cart
permalink: /cart.html
---

<article>
  <table class="table-minimal">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Kerudung Satu</td>
      <td>
        <img src="" alt="">
      </td>
      <td>
        <div class="group-button">
         <input type="text" value="2"> <button><i class="fi-loop"></i></button><button><i class="fi-trash"></i></button> 
        </div>
      </td>
      <td>Rp.200.000,-</td>
      <td>Rp.400.000,-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Kerudung Satu</td>
      <td>
        <img src="" alt="">
      </td>
      <td>
        <div class="group-button">
         <input type="text" value="2"> <button><i class="fi-loop"></i></button><button><i class="fi-trash"></i></button> 
        </div>
      </td>
      <td>Rp.200.000,-</td>
      <td>Rp.400.000,-</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Kerudung Satu</td>
      <td>
        <img src="" alt="">
      </td>
      <td>
        <div class="group-button">
         <input type="text" value="2"> <button><i class="fi-loop"></i></button><button><i class="fi-trash"></i></button> 
        </div>
      </td>
      <td>Rp.200.000,-</td>
      <td>Rp.400.000,-</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Kerudung Satu</td>
      <td>
        <img src="" alt="">
      </td>
      <td>
        <div class="group-button">
         <input type="text" value="2"> <button><i class="fi-loop"></i></button><button><i class="fi-trash"></i></button> 
        </div>
      </td>
      <td>Rp.200.000,-</td>
      <td>Rp.400.000,-</td>
    </tr>
    <tr>
      <td colspan="3">
        <h2>Discount Coupon</h2>
        <form action="#" class="inline-form">
          <input type="text"><button>Apply</button>
        </form>
      </td>
      <td colspan="3">
        <h2>Gift Coupon</h2>
        <form action="#" class="inline-form">
          <input type="text"><button>Apply</button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="5"><strong>Sub Total</strong></td>
      <td>Rp. 800.000,-</td>
    </tr>
    <tr>
      <td colspan="5"><strong>Total</strong></td>
      <td>Rp. 800.000,-</td>
    </tr>
  </tbody>
</table>

<button>Continue Shipping</button>
<button onClick="parent.location='checkout.html'">Checkout</button>
<hr>
</article>