---
layout: page
title: Checkout
permalink: /checkout.html
---

<section class="middle">
	<article>
		<h2>Shipping & Billing Details</h2>
		<p>
			<label for="name">Name :</label>
        	<input type="text" id="name">
        </p>
        <p>
			<label for="mail">Email :</label>
        	<input type="email" id="mail">
        </p>
         <p>
			<label for="phone">Phone :</label>
        	<input type="number" id="phone">
        </p>
         <p>
			<label for="country">Country :</label>
        	<select name="#" id="#">
        		<option value="#">select country</option>
        		<option value="#">Usa</option>
        	</select>
        </p>
        <p>
			<label for="address">Address :</label>
        	<textarea name="address" id="address" cols="30" rows="5"></textarea>
        </p>
         <p>
			<label for="zip">Zipcode :</label>
        	<input type="number" id="zip">
        </p>
	</article>
	<article>
		<h2>Payment Details</h2>
		<p>
			<label for="country">Payment Method :</label>
        	<select name="#" id="#">
        		<option value="#">select payment</option>
        		<option value="#">Debit Card</option>
        		<option value="#">Credit Card</option>
        	</select>
        </p>
        <p>
        	<label>
          		<input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Accept Term and Conditions
        	</label>
        </p>
        <p>
        	<button class="main">Submit</button>
        	<button class="normal">Reset</button>
        </p>
	</article>
</section>