---
layout: page
title: We received payment Successfully...
permalink: /confirmation.html
---

<section>
	<p>
		Thanks for buying from Jarvis-Store
	</p>
	<p>
		Your Order #id is 43454354 . Use this for further communication.
	</p>
</section>