---
layout: page
title: Edit Profile
permalink: /editprofile.html
---

<article>
	<form action="#">
		<!-- name -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Name</strong></label>
		    </div>
		    <div>
		      <input class="wide text input" id="text2" type="text" placeholder="name" />
		    </div>
		</div>

		<!-- email -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Email</strong></label>
		    </div>
		    <div>
		      <input class="wide email input" id="text2" type="text" placeholder="email" />
		    </div>
		</div>

		<!-- phone -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Phone Number</strong></label>
		    </div>
		    <div>
		      <input class="wide text input" id="text2" type="password" placeholder="phone number" />
		    </div>
		</div>

		<!-- country -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Country</strong></label>
		    </div>
		    <div>
		    	<div class="picker">
			      	<select class="wide">
		              <option>Select Country</option>
		              <option>USA</option>
		              <option>India</option>
		              <option>Canada</option>
		              <option>UK</option>
		            </select>
			    </div>
		    </div>
		    
		</div>

		<!-- address -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Address</strong></label>
		    </div>
		    <div>
		      <textarea class="input textarea" id="message" placeholder="Textarea" rows="3"></textarea>
		    </div>
		</div>

		<!-- zipcode -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Zip Code</strong></label>
		    </div>
		    <div>
		      <input class="wide password input" id="text2" type="text" placeholder="zip code" />
		    </div>
		</div>

		<!-- username -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Username</strong></label>
		    </div>
		    <div>
		      <input class="wide password input" id="text2" type="text" placeholder="username" />
		    </div>
		</div>

		<!-- pasword -->
		<div class="field row">
		    <div>
		      <label class="mheight" for="text2"><strong>Password</strong></label>
		    </div>
		    <div>
		      <input class="wide password input" id="text2" type="password" placeholder="password" />
		    </div>
		</div>

		<!-- term and condition -->
		<div class="field row">
		    <div>
		      
		    </div>
		    <div>
		      <label class="checkbox" for="check2">
			    <input name="checkbox[]" id="check2" value="2" type="checkbox" />
			    <span></span> Accept Terms &amp; Conditions
			  </label>
		    </div>
		</div>
		<div class="field row">
		    <div>
		      
		    </div>
		    <div>
		     	<button class="main">Save Changes</button> <button class="normal">Reset</button>
		    </div>
		</div>
	</form>
</article>