---
layout: default
---

      <!-- popular product -->
      <div id="popular">
        <section>
          <h2>
            Featured <span>Products</span>
          </h2>
          <div class="more">
            <a href="#"><i class="fi-list-bullet"></i> View All</a>
          </div>
          <!-- list products -->
          <ul class="products">
            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price">
                  <del><span class="amount">IDR. 89.00</span></del> <ins><span class="amount">IDR. 49.00</span></ins>
                </span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
          </ul>
        </section>
      </div>

      <!-- new product -->
      <div id="newproduct">
        <section>
          <h2>
            Latest <span>Products</span>
          </h2>
          <div class="more">
            <a href="#"><i class="fi-list-bullet"></i> View All</a>
          </div>
          
          <!-- list new product -->
          <ul>
            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
              </div>
              <span class="sale">Sale!</span>  
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
          </ul>
        </section>
      </div>
