---
layout: single
title: Items Page
permalink: /items.html
---

<section class="page">
	{% include aside_product.html %}
	<article>
		<div class="breadcrumb">
		  <a href="javascript:void(0)">Home</a>
		  <a href="javascript:void(0)">Product</a>
		  <a href="javascript:void(0)">Category</a>
		</div>
		<!-- popular product -->
        <section>
          
          <!-- list products -->
          <ul>
            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price">
                  <del><span class="amount">IDR. 89.00</span></del> <ins><span class="amount">IDR. 49.00</span></ins>
                </span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
              </div>
              <span class="sale">Sale!</span>  
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>

            <li class="product items">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div>
            </li>
          </ul>
        </section>

	</article>
</section>