---
layout: single
title: Login to Access
permalink: /login.html
---

<section class="middle">
	
	<article>
		<div class="title">
			<h2>New Customers</h2>
		</div>
		<div class="address">
           <p>
           	By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
           </p>
           <button>Submit</button>
	</article>

	<article>
		<div class="respond">
			<div class="title">
				<h2>Login</h2>
			</div>
			<form>
				<ul>
					<li class="field">
						<label for="email">Email</label>
						<input class="email input" id="email" type="email" placeholder="Enter email">
					</li>
					<li class="field">
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="Enter password">
					</li>
					<div>
						<li class="field fleft">
							<label class="checkbox" for="checkbox1">
								<input name="checkbox1" type="checkbox" id="checkbox1">
								<span></span> Important
							</label>
						</li>
						<li class="fright">
							<a href="#">Forget your password?</a>
						</li>
					</div>
				</ul>
				<div class="block"><button class="main" >Submit</button><button class="normal">Reset</button>
		   		</div>
			</form>     
		</div>
	</article>
</section>