---
layout: single
title: Converse Leathers
permalink: /single-item.html
---

<section class="page">
	{% include aside_product.html %}
	<article>
		<div class="breadcrumb">
		  <a href="javascript:void(0)">Home</a>
		  <a href="javascript:void(0)">Product</a>
		  <a href="javascript:void(0)">Category</a>
		</div>
		<!-- product detail -->
    <div class="single-item middle">
      <article>
        <ul>
          <li class="product">
              <div class="post-image">
                <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a>          
              </div>
              <span class="sale">Sale!</span> 
             <!--  <div class="product-detail">
                <h4 class="post-title"><a href="#">Converse Leathers</a></h4>
                <span class="price"><span class="amount">IDR. 49.00</span></span>
                <a href="#" class="add_to_cart"><i class="fi-shopping-cart"></i></a>          
              </div> -->
          </li>
        </ul>
      </article>
      <article>
        <div class="title">
          <h4>Converse Leathers</h4>
        </div>
        <p class="price">
          <del><span class="amount">IDR.350K</span></del>
          <ins><span class="amount">IDR.300K</span></ins>
        </p>

        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quae aspernatur eligendi laudantium pariatur dicta deserunt, fugiat praesentium possimus, libero sint. Vel, quas. Tempore perferendis sunt, perspiciatis maiores, laudantium aliquam.
          </p>
        </div>
        <form class="cart" method="post" enctype="multipart/form-data">
          <div class="picker ">
            <select class="form-control">
                  <option>Select Type</option>
                  <option>USA</option>
                  <option>India</option>
                  <option>Canada</option>
                  <option>UK</option>
              </select>
          </div>
          <div class="addcart">
            <input type="number" step="1" min="1" placeholder="2">
            <button type="submit">
              Add to cart
            </button>
          </div>
        </form>
          <!-- <li class="append field">
            <input class="narrow text input" type="number" step="1" min="1" placeholder="2">
            <div class="medium primary btn icon-left icon-basket"><a href="#">Add to cart</a></div>
          </li> -->

      </article>
    
    </div>
    
    <!-- items deskripsi dan review -->
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Description</a>
        <div class="tab-content">
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Spec</a>
        <div class="tab-content">
          <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
        </div>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Review (5)</a>
        <div class="tab-content">
          <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
        </div>
      </li>
    </ul>

    <!-- produk terkait -->
      <div id="newproduct">
        <h2>
          Related <span>Products</span>
        </h2>
        <hr>
        
        <!-- items produk terkait -->
        <ul>
          <li class="product">
            <div class="post-image">
              <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
            </div>
            <div class="product-detail">
              <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

              <span class="price"><span class="amount">IDR. 49.00</span></span>         
            </div>
          </li>

          <li class="product">
            <div class="post-image">
              <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
            </div>
            <div class="product-detail">
              <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

              <span class="price"><span class="amount">IDR. 49.00</span></span>         
            </div>
          </li>

          <li class="product">
            <div class="post-image">
              <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
            </div>
            <span class="sale">Sale!</span>  
            <div class="product-detail">
              <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

              <span class="price"><span class="amount">IDR. 49.00</span></span>         
            </div>
          </li>
          <li class="product">
            <div class="post-image">
              <a href="#"><img width="300" height="365" src="../public/img/prod2.jpg" alt="9"></a> 
            </div>
            <span class="sale">Sale!</span>  
            <div class="product-detail">
              <h4 class="post-title"><a href="#">Converse Leathers</a></h4>

              <span class="price"><span class="amount">IDR. 49.00</span></span>         
            </div>
          </li>

        </ul>
      </div>


	</article>
</section>