---
layout: page
title: My Wishlist
permalink: /wishlist.html
---

<article>
	<table cellpadding="0" cellspacing="0">
		<thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="single-item.html">HTC One</a></td>
            <td>$530</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="single-item.html">Sony Xperia</a></td>
            <td>$330</td>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="single-item.html">Nokia Asha</a></td>
            <td>$230</td>
            <td>6</td>
          </tr>  
          <tr>
            <td>4</td>
            <td><a href="single-item.html">Xperia Tipo</a></td>
            <td>$330</td>
            <td>2</td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="single-item.html">Apple iPhone</a></td>
            <td>$730</td>
            <td>1</td>
          </tr>
          <tr>
            <td>6</td>
            <td><a href="single-item.html">Windows Mobile</a></td>
            <td>$130</td>
            <td>3</td>
          </tr>
          <tr>
            <td>7</td>
            <td><a href="single-item.html">Galaxy SIII</a></td>
            <td>$430</td>
            <td>2</td>
          </tr>                                                                                                             
        </tbody>
	</table>
</article>