// $mainColor: #D2527F;
$mainColor:  #E66693;

$secColor: #E08283;

$mainFontCol: #444;

$linkColor: darken($mainColor,5%);

// $mainFont: "Quicksand", sans-serif;
$mainFont: "arial", sans-serif;

$headingFont: 'Satisfy', cursive;

// large screen
$large-screen: em(860) !default;

// mobile
$mobile: new-breakpoint(max-width 639px 4);

// main padding
$main-padding: 0 10px;