<aside>
	<ul class="accordion">
	  <li>
	    <a href="javascript:void(0)" class="js-accordion-trigger">Category Item</a>
	    <ul class="submenu">
	      <li>
	        <a href="javascript:void(0)">Sub Item 1</a>
	      </li>
	      <li>
	        <a href="javascript:void(0)">Sub Item 2</a>
	      </li>
	    </ul>
	  </li>
	  <li>
	    <a href="javascript:void(0)" class="js-accordion-trigger">Category Item</a>
	    <ul class="submenu">
	      <li>
	        <a href="javascript:void(0)">Sub Category 1</a>
	      </li>
	      <li>
	        <a href="javascript:void(0)">Sub Category 2</a>
	      </li>
	    </ul>
	  </li>
	</ul>
</aside>