<aside>
	<article>
		<h2>Kategori</h2>
		<ul>
			<li><a href="#">Kategori Pertama <span>(5)</span></a></li>
			<li><a href="#">Kategori Kedua <span>(10)</span></a></li>
			<li><a href="#">Kategori Ketiga <span>(15)</span></a></li>
			<li><a href="#">Kategori Keempat <span>(20)</span></a></li>
			<li><a href="#">Kategori Kelima <span>(25)</span></a></li>
		</ul>
	</article>
	<article>
		<h2>Tulisan Terbaru</h2>
		<ul>
			<li><a href="#">Tulisan Pertama <span class="date">(07 May 2015)</span></a></li>
			<li><a href="#">Tulisan Kedua <span class="date">(07 May 2015)</span></a></li>
			<li><a href="#">Tulisan Ketiga <span class="date">(07 May 2015)</span></a></li>
			<li><a href="#">Tulisan Keempat <span class="date">(07 May 2015)</span></a></li>
			<li><a href="#">Tulisan Kelima <span class="date">(07 May 2015)</span></a></li>
		</ul>
	</article>
</aside>