      <footer class="footer" role="contentinfo">
        <div id="logo">
          <a href="#">
            Hijab <span>Store</span>
          </a>
        </div>
        <div class="footer-links">
          <ul>
            <li><h3>Menu Utama</h3></li>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Produk</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
            <li><a href="javascript:void(0)">Kontak</a></li>
          </ul>
          <ul>
            <li><h3>Quick Link</h3></li>
            <li><a href="javascript:void(0)">Syarat & Ketentuan</a></li>
            <li><a href="javascript:void(0)">Produk</a></li>
            <li><a href="javascript:void(0)">Tentang Kami</a></li>
            <li><a href="javascript:void(0)">Testimonial</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
          </ul>
          <ul>
            <li><h3>My Account</h3></li>
            <li><a href="javascript:void(0)">Member Area</a></li>
            <li><a href="javascript:void(0)">History Order</a></li>
            <li><a href="javascript:void(0)">Konfirmasi Order</a></li>
          </ul>
          <ul>
            <li><h3>Legal</h3></li>
            <li><a href="javascript:void(0)"><img src="./public/img/mandiri.png" alt=""></a></li>
            <li><a href="javascript:void(0)"><img src="./public/img/bni.png" alt=""></a></li>
          </ul>
        </div>

        <hr>
        <p>&copy; 2015 <a href="#">Jarvis Store</a></p>
        <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
      </footer>


      <script src="./public/js/vendor/jquery.js"></script>
      <script src="./public/js/vendor/unslider.js"></script>
      <script src="./public/js/main.js"></script>
    </body>
