      <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- it just a sample conten, you can remove it -->
      <header>
        <div id="topmenu">
          <nav>
            <ul>
              <li><a href="#">Register</a></li>
              <li><a href="#">Login</a></li>
            </ul>

            <ul class="secondary-menu">
              <li>  
                <div class="search-bar">
                  <form role="search">
                    <input type="search" placeholder="Enter Search">
                    <button type="submit">
                      <i class="fi-magnifying-glass"></i>
                    </button>
                  </form>
                </div>
              </li>
              <li>
                <a href="cart.html">
                  <i class="fi-shopping-cart"></i>
                  3 Items - <strong>3000</strong>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- logo -->
        <h1 id="logo">
          <a href="/">Hijab <span>Store</span></a>
        </h1>

        <!-- main menu -->
        <nav class="main">
          <div class="centered-navigation" role="banner">
            <!-- responsive logo -->
            
            
            <div class="centered-navigation-wrapper">
              <!-- responsive logo -->
              <div id="resp-logo">
                <a href="/">Hijab <span>Store</span></a>
              </div>
              <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu"> <i class="fi-list-bullet"></i>  MENU</a>

              <!-- list main menu -->
              <nav role="navigation">
                <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                  <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
                  <li class="nav-link"><a href="about-us.html">About Us</a></li>
                  <li class="nav-link"><a href="contactus.html">Contact</a></li>
                  <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
                  <li class="nav-link more"><a href="javascript:void(0)">More</a>
                    <ul class="submenu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blogsingle.html">Blog Detail</a></li>
                      <li class="more"><a href="javascript:void(0)">More submenu</a>
                        <ul class="submenu">
                          <li><a href="careers.html">Careers</a></li>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="faq.html">F.A.Q</a></li>
                        </ul>
                      </li>
                      <li><a href="cart.html">Cart</a></li>
                      <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                  </li>
                  <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </nav>
      </header>


      