      <!-- slide section -->
      <div id="slider">
        <section class="slider-wrap">
            <ul>
                <li>
                  <div class="slider-image">
                    <img src="../public/img/store-slider.jpg" alt="">
                    <div class="slider-content">
                      <div class="slider-desc">
                        <h2 class="title">Made in Indonesia</h2>
                        <p>A beautifully designed big store theme built for Jarvis Store</p>
                        <button>View Collections</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-image">
                    <img src="../public/img/store-slider.jpg" alt="">
                    <div class="slider-content">
                      <div class="slider-desc">
                        <h2 class="title">Made in German</h2>
                        <p>A beautifully designed big store theme built for Jarvis Store</p>
                        <button>View Collections</button>
                      </div>
                    </div>
                  </div>
                </li><li>
                  <div class="slider-image">
                    <img src="../public/img/store-slider.jpg" alt="">
                    <div class="slider-content">
                      <div class="slider-desc">
                        <h2 class="title">Made in England</h2>
                        <p>A beautifully designed big store theme built for Jarvis Store</p>
                        <button>View All Collections</button>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
        </section>
      </div>