body{
  @include border-default();
  background-color:#fff;
}

// change default focus color
.form-control{
  &:focus{
    border-color:$secColor;
    border-color:solid 1px $mainColor !important;
    @include box-shadow( 0 0 8px $mainColor);
    // inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)

  }
}

.gray{
  background-color:#EBEBEB;
}

header{
  padding:20px 0;
  // styling logo
  h1{
    padding:0;
    margin:0;
  }
  // styling header form
  form{
    padding: 25px 0;
    button{
      &.btn{
        padding:2px 10px;
      }
      background-color: $orange !important;
      color:#fff !important;
      i{
        font-size: 20px;
      }
    }
  }

  // styling menu kanan
  #rightMenu{
    float: right;
    li{
      margin-left: 15px;
      display: inline-block !important;
      vertical-align: middle;
      
      // &:not(:last-child){
      //   a{
      //     @include tombol();
      //     color:$mainColor;
      //   }
        
      // }
      &:nth-child(1){
        a{
          font-weight: bold;
          color:$mainColor;
        }
      }
      &:nth-child(2){
        a{
          @include tombol($mainColor,#fff,$mainColor);
        }
      }
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }
    
  }

  #cart{
    text-align: center;
    padding-left: 15px;
    border-left: solid 1px $mainColor;
    margin-left: 15px;
    
    color:#444 !important;
    display: inline-block;
    span{
      margin-top:-15px;
      display: block;
    }
  }
}


// styling navigasi
#nav{
  background-color:$mainColor;
  ul{
    padding:0;
  }
  li{
    list-style-type: none;
    float: left;
    a{
      @include transition-duration(0.3s);
      padding: 15px;
      display: block;
      background-color: transparent;
      &:hover{
        text-decoration: none;
        background-color:lighten($mainColor,5%);
      }
    }
  }
  a{
    color:#fff;
  }
}

// section
section{
  text-align: center;
  @include border-default();
}

// aside
aside{
  color:#fff;
  padding:20px 0;
  background-color: $mainColor;
}

// footer
footer{
  @extend aside;
  background-color: darken($mainColor,10%);
}


