---
layout: home
---

<section id="popular">
  <div class="row">
    <div class="twelve columns">
      <h2>Popular Items</h2>
      <p>
        Find the most valuable items from our store
      </p>
      <div class="row">
        <!-- product section -->
        <div class="four columns image photo product">
          <!-- product image -->
          <a href="single-item.html">
            <img src="./public/img/photo.jpg" alt="New">
          </a>
          <!-- product detail -->
          <div class="product-detail">
            <h4 class="title"><a href="single-item.html">Product Title</a></h4>
            <span class="sale">Sale!</span>
            <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
            <div class="medium oval btn primary default">
              <a href="single-item.html">Add Cart</a>
            </div>            
          </div>
        </div>
        
         <!-- product section -->
        <div class="four columns image photo product">
          <!-- product image -->
          <a href="single-item.html">
            <img src="./public/img/photo.jpg" alt="New">
          </a>
          <!-- product detail -->
          <div class="product-detail">
            <h4 class="title"><a href="single-item.html">Product Title</a></h4>
            <span class="sale">Sale!</span>
            <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
            <div class="medium oval btn primary default">
              <a href="single-item.html">Add Cart</a>
            </div>            
          </div>
        </div> <!-- product section -->
        <div class="four columns image photo product">
          <!-- product image -->
          <a href="single-item.html">
            <img src="./public/img/photo.jpg" alt="New">
          </a>
          <!-- product detail -->
          <div class="product-detail">
            <h4 class="title"><a href="single-item.html">Product Title</a></h4>
            <span class="sale">Sale!</span>
            <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
            <div class="medium oval btn primary default">
              <a href="single-item.html">Add Cart</a>
            </div>            
          </div>
        </div>

      </div>
      <div class="row">
        <div class="medium metro rounded btn icon-right icon-right-open-mini">
          <a href="items.html">Shop popular items</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="whatsnew">
  <div class="row">
    <h2>What's New in Our Store</h2>
    <div class="row">
      <!-- product section -->
      <div class="three columns image photo product">
        <!-- product image -->
        <a href="single-item.html">
          <img src="./public/img/photo.jpg" alt="New">
        </a>
        <!-- product detail -->
        <div class="product-detail">
          <h4 class="title"><a href="single-item.html">Product Title</a></h4>
          <span class="sale">Sale!</span>
          <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
          <div class="medium oval btn primary default">
            <a href="single-item.html">Add Cart</a>
          </div>            
        </div>
      </div>
      <!-- product section -->
      <div class="three columns image photo product">
        <!-- product image -->
        <a href="#">
          <img src="./public/img/photo.jpg" alt="New">
        </a>
        <!-- product detail -->
        <div class="product-detail">
          <h4 class="title"><a href="#">Product Title</a></h4>
          <span class="sale">Sale!</span>
          <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
          <div class="medium oval btn primary default">
            <a href="#">Add Cart</a>
          </div>            
        </div>
      </div>
      <!-- product section -->
      <div class="three columns image photo product">
        <!-- product image -->
        <a href="#">
          <img src="./public/img/photo.jpg" alt="New">
        </a>
        <!-- product detail -->
        <div class="product-detail">
          <h4 class="title"><a href="#">Product Title</a></h4>
          <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
          <div class="medium oval btn primary default">
            <a href="#">Add Cart</a>
          </div>            
        </div>
      </div>
      <!-- product section -->
      <div class="three columns image photo product">
        <!-- product image -->
        <a href="#">
          <img src="./public/img/photo.jpg" alt="New">
        </a>
        <!-- product detail -->
        <div class="product-detail">
          <h4 class="title"><a href="#">Product Title</a></h4>
          <span class="sale">Sale!</span>
          <span class="price"><del><span class="amount">IDR.490K</span></del> <ins><span class="amount">IDR. 390K</span></ins></span>
          <div class="medium oval btn primary default">
            <a href="#">Add Cart</a>
          </div>            
        </div>
      </div>
    </div>
  </div>
</section>
