.blog{
	@extend .page;

	h2{
		font-size: 1.5em;
		font-weight: 300;
	}
	p{
		margin-bottom: 1em;
	}
	section{
		margin-bottom: 2em;
	}
	aside{
		article{
			margin-bottom: 2em;
			h2{
				color:$mainColor;
				margin-bottom: 10px;
			}
			li a{
				color:rgba(#444,0.7);
				&:hover{
					color:#444;
				}
				span{
					color:#444;
					font-weight: bold;
					&.date{
						display: block;
						font-size: 80%;
						color:darken(#ddd,10%);
						font-weight: normal;
					}
				}
			}
		}
	}
}
.meta{
	margin:10px 0;
	border-top:solid 1px #eee;
	border-bottom: solid 1px #eee;
	// background: #eee;
	padding:5px 10px;
	font-size: 14px;
	color:rgba(#444,0.7);
	@include transition-duration(0.5s);
	&:hover{
		color:#444;
	}
	i{
		margin:0 2px 0 5px;
	}
	.comment{
		float: right;
	}
}