.page{
  margin-bottom: 20px;
  // margin:auto;
  // @include outer-container;
  a{
  	color:$linkColor;
  	&:hover{
  		color:#444;
  	}
  }
  aside {
    @include media($large-screen) {
      @include span-columns(3);
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em; 
    }

    @include media($large-screen) {
      @include span-columns(9);
    }
  }
}