@mixin border-default(){
	border-top:solid 12px #FBDFB6;
}

@mixin tombol($warna:#fff, $bg:$mainColor, $border:transparent){
	padding:5px 20px;
	background-color: $bg;
	border: solid 1px $border;
	color:$warna !important;

	@include border-radius(4px);
	@include transition-duration(0.4s);
	&:hover{
		@include transition-duration(0.4s);
		background-color: $warna !important;
		color:$bg !important;
	}
}