// Your custom SCSS should be written here...
$warna-border: #FBDFB6;


body{
	font-family: arial, sans-serif !important;
}

// general
.fleft{
	float: left;
}

.fright{
	float: right;
}

.tright{
	text-align: right;
}

.tleft{
	text-align: left;
}
.mheight{
	margin-bottom: 0;
	line-height: 35px;
}
// styling header
header{
	padding:2.5em 0;
	#logo{
		@include font-size($large);
		a{
			font-family: serif;
			vertical-align: middle;
			// font-size: 50px;
			@include font-size(45px);
			
			color:$primary-color;
			span{
				color:lighten($primary-color,20%);
			}
		}
	}
	input{
		font-size: 14px !important;
	}
	// form header
	form{
		text-align: left;
	}
	// tombol form pada header
	.append{
		padding-bottom: 0;
	}
	.adjoined{
		font-size: 14px !important;
		@include transition-duration(0.3s);
		color:#fff !important;
		background: $orange !important;
		&:hover{
			@include transition-duration(0.3s);
			background-color: darken($orange,10%) !important;
			cursor: pointer;
		}
	}
	// tombol login dan cart
	a{
		@include transition-duration(0.4s);
		padding:3px 10px !important;
		font-weight: 100;
		font-size: 14px;
	}
	.btn{
		@include transition-duration(0.4s);
		&:hover{
			@include transition-duration(0.4s);
		}
	}
	.columns:nth-child(2) {
	  text-align: right;
	}
}

// styling menu
#topmenu{
	.dropdown{
		background-color: $primary-color !important;
		a{
			color:#fff ;
			&:hover{
				background-color: lighten($primary-color,5%);
			}
		}
	}
}

// slide
.unslider-arrow{
  position: absolute;
  // left: 0;

  top: 50%;
  z-index: 5;
  background: $orange;
  color: #fff;
  @include border-radius(100%);
  @include transition-duration(0.3s);
  opacity: .8;
  &:hover{
  	opacity: 1;
  	@include transition-duration(0.3s);
  	&>i{
  		color:#fff;
  	}
  }
  i{
  	  color:#fff;
  	  margin: 15px;
	  line-height: 20px;
	  font-size: 3em;
	  vertical-align: middle;

  }
  &.next{
  	right: 20px;
  }
  &.prev{
	left: 20px;
  }
}
#slider{
	position: relative;
	overflow: auto;
	li{
		list-style: none;
	}
	ul li{
		float: left;
		position:relative;
		.tagline{
			
			position:relative;
			p{
				background: rgba($orange,0.5);
				position: absolute;
				bottom:0;
				left:0;
				right:0;
				color:#fff;
				font-weight: bold;
				padding:0em 2em;
				font-size:2.5em;
				text-align: center;
				span{
					vertical-align: middle;
				}
			}
		}
	}
	// dots slider
	.dots{
		display: none;
		margin:0;
		text-align:center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		
		li{
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			text-indent: -999em;
			border: 2px solid #fff;
			border-radius: 6px;
			cursor: pointer;
			opacity: .7;
			@include transition-duration(0.5s);
			@include box-shadow(0 1px 2px #444);

			&.active{
				background: #fff;
				opacity: 1;
			}
		}
	}
}

// popular
#popular{
	text-align: center;
	background: #eee;
	border-top:solid 10px $warna-border;
	border-bottom:solid 10px $warna-border;
	padding:1.5em 0;
	// padding-bottom: 15px;
	p{
		color:#444;
	}
	.btn{
		// margin: 15px 0;
		background: #fff;
		a{
			color:$orange;
		}
	}
}

#whatsnew{

	@extend #popular;
	border-top:none;
	border-bottom: none;
	background: #fff;
}

// section
section{
	.title{
		font-weight: bold;
		color:$primary-color;
		border-bottom: solid 1px #eee;
		margin-bottom: 10px;
		span{
			font-weight: normal;
			color:#444;
		}
	}

	// checkout style
	.checkout{
		.field{
			margin-bottom: 20px;
		}
	}
	.picker{
		&.full{
			margin:0;
			width:100%;
		}
	}
	
	// section dalam secition
	.section{
		i{
			color:$primary-color;
		}

		// meta page blog
		.meta{
			background: #eee;color:#444;
			i{color:#444}
			a{color:#444;
				&:hover{
					color:#000;
				}
			}
		}

		// comment section
		.comments{
			.title{
				margin-top: 20px;
				border-top:solid 1px #eee;
				border-bottom: 0;
			}
			.reply{
				margin-left: 75px !important;
			}
			.comment{
				margin:25px 0px;
				a{
					color: #555;
					font-weight: bold;
					border: 0px !important
				}
				.avatar{
					@include transition-duration(0.3s);
					margin-top: 20px;
					margin-right: 15px;
					max-width: 70px !important;
					border-radius: 100px;
					opacity: 0.5;
				}
				&:hover{
					@include transition-duration(0.3s);
					// background: red;
					.avatar{
						@include transition-duration(0.3s);
						opacity: 1;
					}
				}
			}
		}

		// comment form
		.respond{
			.title{
				border-bottom: solid 1px #ddd;
			}
			form{margin-bottom: 0;}
			background: #eee;
			padding:20px;
			@include border-radius(5px);
			margin-bottom: 1.5em;
		}
		// address contact form
		.address{
			margin-bottom: 20px;
		}
	}
	
	// menu nav dalam section
	.aside{
		background: #eee;
		padding:15px;
		margin-bottom: 20px;
		@include border-radius(4px);
	}
	.sidenav{
		// @include border-radius(4px);
		background: $primary-color;
		li{
			line-height: 50px;
			padding-bottom: 0;
			border-bottom: solid 1px #fff;
			&:last-child{
				border-bottom: none;
			}
		}
		a{
			display: block;
			padding:0 15px;
			color:#fff;
			&:hover{
				background: lighten($primary-color,10%);
			}
		}
	}
}

// panel style
.panel{
	border:solid 1px #eee;
	margin-bottom: 15px;
	@include border-radius(5px);
	.header{
		padding:10px;
		background: #eee;
	}
	.drawer{
		padding:0 11px;
		background: #fff;
		@include box-shadow(0 0 0 #fff);
		*{margin-top: 10px}
	}
}
// breadcumb
.breadcrumbs{
	@include pie-clearfix;
	padding:0.5rem 0.77778rem 0.5rem;
	background: #eee;
	margin-bottom: 1em;
	@include border-radius(3px);
	& > *:first-child:before {
      content: " ";
      margin: 0;
    }
    & > *.unavailable{
    	color:#999;
    	a{
    		color:inherit;
    	}
    }
    & > *.current{
    	color:#333;
    	cursor: default;
    	a{
    		color:inherit;
    	}
    }
	& > *{
		color: #008CBA;
		float: left;
		font-size: 14px;
		// line-height: 0.61111rem;
		margin: 0;
		text-transform: uppercase;
	}
	&> *:before{
		color: #AAAAAA;
		content: "/";
		margin: 0 0.66667rem;
		position: relative;
		top: 1px;
	}
	li{
		padding: 0	}
}

// product list
.product{
	position: relative;
	text-align: center;
	overflow: hidden;
	// img{width: 105%}
	&:hover{
		img{
			max-width: 105%;
			// border:solid 5px #ddd;
		}
	}
	img{
		@include transition-duration(0.2s);
	}
	.product-detail{
		background: #fff;
		.title{
			margin: 0 0 10px;
			font-size: 1.2em;
			line-height: 24px;
			border-bottom: none;
		}
		span{
			// sale pin
			&.sale{
				padding:10px;
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 2;
				background: #e74c3c;
				color: #fff;
				border-radius: 100px;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				
			}
			// price style
			&.price{
				// line-height: 30px;
				display: block;
				text-align: center;
				padding: 0;
				margin: 0 0 15px;
				clear: both;
				font-size: 14px;
				font-weight: 400;
				color: #000;
				// real price
				del{
					color:#999;
				}
				// discount price
				ins{
					text-decoration: none;
				}
			}
		}
	}
}

// productdetai
.productdetail{
	.price{
		display: block;
		color: #E66F57;
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
		del{
			color:#999;
		}
		ins{
			text-decoration: none;
		}
	}
}

// aside
aside{
	padding:1.5em 0;

	form{
		text-align: center;
		background: lighten($orange,10%);
		padding:15px;
		@include border-radius(3px);
		p{margin-bottom: 0;}
	}
	&.first{
		h3,h4{color:darken($primary-color,5%)}
		background: $warna-border;
		color:$primary-color;

		.social{
			// font social footer 1
			a{
				color:$primary-color;
			}
			i{
				font-size: 30px;
				margin:15px;

			}
		}

	}
	&.last{
		h3,h4{color:$orange}
		background: $primary-color;
		color:$warna-border;
		a{
			color:$warna-border;
			&:hover{
				color:darken($warna-border,10%);
			}
		}
	}
}

// footer
footer{
	@extend aside;
	color:#fff;
	background: darken($primary-color,5%);

	.btn{
		float: right;
	}
}

// responsive
@include respond(all-phones) {
  .tright{
	text-align: center;
	}

	.tleft{
		text-align: center;
	}
  #logo{
  	text-align: center;
  }
  .tagline p{
  	display: none;
  	// font-size: 12px;
  }
  header{
  	form{
  		text-align: center;
  		margin-top: 15px;
  	}

  	.columns:nth-child(2) {
	  text-align: center;
	}
  	.columns:last-child{
  		text-align: center;
		margin-top: 15px;
	}
  }
  .unslider-arrow{
  	top:30% !important;
  }
}
